<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% for key_value in site.socials %}
					{% if key_value[1] %}
						<li>
							<a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
								<span class="label">{{ key_value[0] }}</span>
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
			<ul class="sponsors">
				<a style="border:0px;" href="https://arcteryx.com/"><img src="{{ absolute_url }}/assets/images/sponsors/logo-arcteryx.png" alt="logo arcteryx"/></a>
				<a style="border:0px;" href="https://www.dpsskis.com/"><img src="{{ absolute_url }}/assets/images/sponsors/logo-dpsski.png" alt="logo dpsski"/></a>
				<a style="border:0px;" href="https://www.bergfuehrer.at/"><img src="{{ absolute_url }}/assets/images/sponsors/logos-voebs.png" alt="logo voebs"/></a>
				<a style="border:0px;" href="https://phantomglide.com/"><img src="{{ absolute_url }}/assets/images/sponsors/phantomglide-logo.png" alt="logo phantomglide"/></a>
				<a style="border:0px;" href="https://www.sweetprotection.com/"><img src="{{ absolute_url }}/assets/images/sponsors/sweet_protection.png" alt="logo sweetprotection"/></a>
				<a style="border:0px;" href="https://www.mountainhardwear.com/"><img src="{{ absolute_url }}/assets/images/sponsors/mountain-hardwear.png" alt="logo mountainhardwear"/></a>
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
				<li><a style="border:0px;" href="https://palimedia.at"><img src="{{ absolute_url }}/assets/images/logo_palimedia_cc.svg" alt="palimedia.at"/></a></li>
				<li><a href="{{ absolute_url }}/impressum">Impressum</a></li>
				<li><a href="{{ absolute_url }}/datenschutz">Datenschutz</a></li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
