<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include header.html %}
    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <h3 style="text-transform: uppercase;">{{ site.description }}</h3>
                <ul class="actions">
                    <li><a href="{{ site.baseurl }}/touren" class="button next scrolly">Touren</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Main -->
    <div id="main">
        <!-- One -->
        {% include tiles.html %}
        <!-- Two -->
        <section id="two">
            <div style="text-align: center;" class="inner">
                <h3 style="text-transform: uppercase;">Hochtouren · Bergsteigen · Klettern · Klettersteig · Expeditionen · Skitouren · Skidurchquerungen · Freeriden · Heliskiing · Eisklettern</h2>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="{{ site.baseurl }}/kontakt" class="button next">Kontakt</a></li>
                </ul>
            </div>
        </section>
    </div>
    {% include footer.html %}
</body>
</html>
