	#footer {
		.sponsors {
			padding-left: 0px;
			
			img {
				max-width: 150px;
				max-height: 80px;
				padding: 0.5rem;
				vertical-align: middle;
			}
		}

		.copyright {
			font-size: 0.8em;
			list-style: none;
			padding-left: 0;

			img {
				height: 1.3rem;
				vertical-align: middle;
			}

			li {
				border-left: solid 1px _palette(border);
				color: _palette(fg-light);
				display: inline-block;
				margin-left: 1em;
				padding-left: 1em;
				line-height: 1.8rem;

				&:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}

		@include breakpoint(xsmall) {
			.copyright {
				li {
					display: block;
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}
	}